body {
    background-image: url("../images/background.png");
    background-size: 100%;
}

.header {
    font-family: 'Tangerine', serif;
    font-size: 8em;
}

.row {
    margin-top: 25px;
}

.main-content {
    font-family: 'Open Sans', sans-serif;
}