/* * {
    border: 5px solid white;
} */

body {
    background-image: url("../images/background.png");
    background-size: 100%;
}

.header {
    font-family: 'Tangerine', serif;
    font-size: 8em;
}
